<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js?1"></script>
    <script>
        function setTheme() {
            document.documentElement.className = Telegram.WebApp.colorScheme;
        }

        Telegram.WebApp.onEvent("themeChanged", setTheme)
        setTheme()
    </script>
    <link rel="stylesheet" href="../../css/style.css">
    <title>Web-App</title>
</head>

<body>
    <div class="container">
        <h2>Sign up</h2>
        <p id="caption" class="caption">Complete our form accordingly.</p>
        <input type="text" name="provider_id" id="id" placeholder="AAU ID">
        <input type="text" name="f_name" id="f-name" placeholder="First Name">
        <input type="text" name="l_name" id="l-name" placeholder="Last Name">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="tel" name="phone_no" id="phone-no" placeholder="Mobile">
        <!-- <button id="phone-no-btn">Phone number</button> -->
        <input list="educational_bkg" name="educational_bkg" id="educational-bkg" placeholder="Educational background">
        <datalist id="educational_bkg">
            <option value="Psychology">
            <option value="Psychiatry">
        </datalist>
        <select name="health_team" id="health-team">
            <option value="mental">Mental</option>
            <option value="physical">Physical</option>
        </select>
        <input type="text" name="speciality" id="speciality" placeholder="Speciality/Sub-Speciality">
        <input type="text" name="office_location" id="office-location" placeholder="Office building and number">
        <fieldset>
            <legend>Available working hours</legend>

            <label for="start_at">Start at
                <input type="time" name="start_at" id="start-at">
            </label>

            <label for="end_at">Finish at:
                <input type="time" name="end_at" id="end-at">
            </label>

            <label for="dates" id="dateSelection">Working Dates:
                <input type="checkbox" name="dates" id="dates monday" value="monday"> <label for="monday">Monday</label> <br> 
                <input type="checkbox" name="dates" id="dates tuesday" value="tuesday"> <label for="monday">Tuesday</label> <br>  
                <input type="checkbox" name="dates" id="dates wednesday" value="wednesday"> <label for="monday">Wednsday</label> <br>  
                <input type="checkbox" name="dates" id="dates thursday" value="thursday"> <label for="monday">Thursday</label> <br>  
                <input type="checkbox" name="dates" id="dates friday" value="friday"> <label for="monday">Friday</label> <br>  
                <input type="checkbox" name="dates" id="dates saturday" value="saturday"> <label for="monday">Saturday</label> <br>  
                <input type="checkbox" name="dates" id="dates sunday" value="sunday"> <label for="monday">Sunday</label> <br>  
            </label>

            
        </fieldset>
        <button id="signup-btn">Sign up</button>
    </div>

    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/sp/sp_signup.js"></script>
</body>

</html>