<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js?1"></script>
    <script>
        function setTheme() {
            document.documentElement.className = Telegram.WebApp.colorScheme;
        }

        Telegram.WebApp.onEvent("themeChanged", setTheme)
        setTheme()
    </script>
    <link rel="stylesheet" href="../../css/style.css">
    <title>Web-App</title>
</head>

<body>
    <div class="container">
        <h2>Sign up</h2>
        <p id="caption" class="caption">Complete our form accordingly.</p>
        <input type="text" name="stud_id" id="id" placeholder="AAU Student ID">
        <input type="text" name="f_name" id="f-name" placeholder="First Name">
        <input type="text" name="l_name" id="l-name" placeholder="Last Name">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="tel" name="phone_no" id="phone-no" placeholder="Mobile">

        <fieldset>
            <legend>Educational Information</legend>
            <label for="dept">
                Department
                <select name="dept" id="dept" class="input" onchange="populateBatch()">
                    <option value="">Select Department</option>
                    <option value="medicine">Medicine</option>
                    <option value="anesthesia">Anesthesia</option>
                    <option value="dental">Dental Medicine</option>
                    <option value="mrt">MRT</option>
                    <option value="laboratory">Laboratory</option>
                </select>
            </label>

            <label for="batch">
                Batch
                <select name="batch" id="batch" class="input">
                    <option value="">Select Batch</option>
                </select>
            </label>


        </fieldset>

        <button id="signup-btn">Sign up</button>
    </div>

    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/stud/stud_signup.js"></script>
</body>

</html>