<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js?1"></script>
    <script>
        function setTheme() {
            document.documentElement.className = Telegram.WebApp.colorScheme;
        }

        Telegram.WebApp.onEvent("themeChanged", setTheme)
        setTheme()
    </script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/send_request.css">
    <title>Web-App</title>
</head>

<body>
    <div class="container">
        <h2>Request Form</h2>
        <p id="caption" class="caption">Fill the following questionier accordingly.</p>
        <ol>
            <div class="questionier">
                <div>
                    Which team do you wanna send your request to:
                    <label>
                        <select name="sp_team" id="sp_team" class="input">
                            <option value="mental_health">Mental Health</option>
                            <option value="medical_health">Medical Health</option>
                        </select>
                    </label>
                </div>
                <div>
                    <li>Any suicidal ideations (Do you have any tendancy of hurting or killing yourself)?</li>
                    <label>
                        <input type="radio" name="code_1" value="true"> Yes
                    </label>
                    <label>
                        <input type="radio" name="code_1" value="false" checked> No
                    </label>
                </div>
                <div>
                    <li>Any homicidal ideation(Do you have a tendancy to attack or hurt any particular person)?</li>
                    <label>
                        <input type="radio" name="code_2" value="true"> Yes
                    </label>
                    <label>
                        <input type="radio" name="code_2" value="false" checked> No
                    </label>
                </div>
                <div>
                    <li>Do you have any expansive or elated moods (Do you feel depressed or lonely)?</li>
                    <label>
                        <input type="radio" name="code_3" value="true"> Yes
                    </label>
                    <label>
                        <input type="radio" name="code_3" value="false" checked> No
                    </label>
                </div>
                <div>
                    <li>Do you have a persistent lowmood, hopelessness or worthlessness?</li>
                    <label>
                        <input type="radio" name="code_4" value="true"> Yes
                    </label>
                    <label>
                        <input type="radio" name="code_4" value="false" checked> No
                    </label>
                </div>
                <div>
                    <li>Alcohol or Substance use withdrawal symptoms?</li>
                    <label>
                        <input type="radio" name="code_5" value="true"> Yes
                    </label>
                    <label>
                        <input type="radio" name="code_5" value="false" checked> No
                    </label>
                </div>
            </div>
        </ol>
        <textarea name="remarks" id="remarks" placeholder="How do you feel?"></textarea>
        <button id="btn-send-req">Send Request</button>
    </div>

    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/stud/stud_send_request.js"></script>
</body>

</html>